# Week 13 Warm-Up
## Analyzing the 4-year BLS Data
>- Here we will be analyzing the combined cleaned BLS data called, `bls4yr`
>- If you haven't exported your cleaned file you can do that with the following code:  `bls4yr.to_excel('bls4yr.xlsx',index=False)`

Narration Video: https://youtu.be/NoljgqBdo1M

### Q1. Create a DataFrame named `bls_amean`
>- Include these fields from `bls4yr`
>>- year, occ_title, a_mean
>- Only include the records for "major" from the `group` field
>>- You should have 88 total records in this new dataframe (There are 22 major groups, 4 years of data, so 88 total records)

### Q2: What is the overall average `a_mean` (annual average salary) over the 4 years of data?
>- Round to two decimals

### Q3. What is the average annual salary for each major occupational title (occ_title)?
>- Show the number of observations (count) used in the average calculation as well as the mean
>- Sort the results in descending order
>>- What occupational title had the highest average salary?

### Q4. Try to plot the annual average salary (`a_mean`) across the 4 years of data 
>- In this case you want to plot the average salary across all occupations for each year (i.e., one data point per year representing the overall average salary for that year) 
>- We will go over plotting today in class but give this a try on your own first

### Q5. If you got the plot by year, try to plot by year and occ_title
>- This will show the annual salaries over time for each major occ_title