# Week 10 
## In-Class Activity Workbook and Homework

## Learning Objectives 
### In this notebook you will learn about and practice:
1. Section 1: <a id='Section 1'></a>[Section 1: Descriptive Analytics: Summary Functions](#Section-1)
2. Section 2: <a id='Section 2'></a>[Section 2: Grouping Data with pandas](#Section-2)

### Additional Sources
>- Check out the `pandas` cheat sheets provided by Data Camp and posted on Canvas
>>- https://www.datacamp.com/community/blog/python-pandas-cheat-sheet

# Section 1
## Descriptive Analtyics with Python `pandas`

## Creating a `stu` DataFrame
>- Complete the following steps to practice reading in a csv file
>>- Note: You should download the `students.csv` and `students100.xlsx` files from Canvas and save it in the same director/folder that you have this notebook saved in
1. Import the pandas module and alias it `pd`

### Step 1: Check your working directory and make sure you have the `students.csv` and `students100.xlxs` files there
>- Note: There are several ways to do this

### Step 2: import the `pandas` module and alias it `pd`

### Step 3: Read the `students.csv` file into a pandas dataframe named, `stu`
>- Set the index to the studenID column (column 0)
>- Look at the first five records to make sure `stu` is imported correctly

#### Loading a CSV file
function: `pd.read_csv()`

[Docu read_csv](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html?highlight=read_excel#pandas.read_excel)

#### Show the last five records of `stu`

#### Show a tuple of the number of columns and rows in `stu`

#### Show the columns in `stu`

#### Show the datatypes that are in `stu`

### Show the summary stats for all columns in `stu`
>- Check the documentation on `describe()` to learn how to show descriptive analytics for all columns regardless of data type
>>- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html

### Show a list of unique student first names

### Show a list of unique student last names

### Show how many times each first name occurs

### Show how many times each last name occurs

### Based on the output in the descriptive analytics table, show all the students with the most common first name
>- If there were ties for the most just pick one for this example

### Based on the output in the descriptive analytics table, show all the students with the most common last name
>- If there were ties for the most just pick one for this example

### Show the descriptive analytics on points for the students with the most common first name
>- If there were ties for the most common name just pick one for this example

### Show the descriptive analytics on points for the students with either the most common first name or the most common last name
>- If there were ties for either first or last name just pick one for each on this example

### Show the descriptive analytics on Points for the most frequent first names and last names
>- If there were ties for either first or last name include all names in the calculations

### Show the number of unique values for each column/field in the DataFrame

### Show the students that scored above 85 points
>- Use the `where()` method first then check your work with another method

### Create a variable, `points0`, that remeans the Points column to 0

### Now, add the `points0` variable as a new column in the `stu` DataFrame
>- Show the first five records in `stu` after adding the column to check your work

### Show the students that are below the mean Points
>- Practice using `where()` as well as other methods to do this
>- Only show the 10 lowest scores

###  Create a field, `name`, that combines `firstName` and `lastName` into one field
>- Separate the names with a space character

### Now, store `name` in the `stu` DataFrame as the first column
>- Show the last 5 records to check your work

# Section 2
## Grouping data with `pandas`

### First, create two new columns
1. `lastint`, that stores the first letter of each student's last name
2. `firstint`, that stores the first letter of each student's first name
>- Show the first 5 records to check your work

### Show the descriptive stats for the `Points` scores for each last initial
>- Use `groupby()` to solve this
>- Sort from largest average score to least
>- Note the last initial that has the highest mean Points and lowest mean point

### Show mean `Points` and `points0` for last names that start with 'H', 'G', or 'M'
>- Try doing this using where() and groupby()
>- Also show the count of values (sample size) in your results

### Show the max `Points` for each last name group that starts with 'W', 'A', or 'F'
>- First, try doing this using where() and groupby()
>- Then, try doing this with another method of your choice

### Show the descriptive stats for `Points` by last then first initial

### Show the descriptive stats for last initial of 'A' for each first initial within 'A'
>- Note which, if any, first initials show up more than once under the last names that start with 'A'

### Which last initial group of students have the highest Point averages?
>- Only show the top 3 in your results
>- Round the values to 2 decimal places
>- Note the initials as well as the values